<div class="innDiv">
    <div class="OutDiv" *ngFor="let note of noteArr">
        <div (click)="openDialog(note)">
            <div>
                <p> {{note.title}}</p>
            </div>
            <div>
                <p>{{note.description}}</p>
            </div>
    </div>
</div>
<div role="button" class="add">
    <img class="divImg" src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg">
</div>
<div role="button" class="add">
    <img class="divImg" src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg">
</div>
<div role="button" class="add">
    <img class="divImg" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg">
</div>
<div role="button" class="add">
    <img class="divImg" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg">
</div>
<div role="button" class="add">
    <img class="divImg" src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg">
</div>
</div>      