<div class="OuterDiv">
    <div class="InnerDiv">
        <div *ngIf="isShow">
            <input class="search" type="text" placeholder="Title"[(ngModel)]="title">
        </div>
        <div *ngIf="!isShow || isShow" (click)="show()">
                <input class="mySearch" type="text" placeholder="Take a note" [(ngModel)]="description">
                <img class="divImg" src="../../../assets/check_box_FILL0_wght400_GRAD0_opsz48.svg" *ngIf="!isShow">
                <img class="divImg" src="../../../assets/brush_FILL0_wght400_GRAD0_opsz48.svg" *ngIf="!isShow">
                <img class="divImg" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg" *ngIf="!isShow">
            </div>
        <div *ngIf="isShow">
            <div class="ic" style="flex-direction: row;">
                <div>
                    <app-icon></app-icon>
                </div>
                <div class="close">
                    <button (click)="close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>